In [1]:
# Analisi de datos
import pandas as pd
from sqlalchemy import create_engine

In [4]:
engine = create_engine("mysql://root:root@127.0.0.1:3310/retail_db")

In [6]:
customers = pd.read_sql_table('customers', engine)
departments = pd.read_sql_table('departments', engine)
categories = pd.read_sql_table('categories', engine)
orders = pd.read_sql_table('orders', engine)
products = pd.read_sql_table('products', engine)
order_items = pd.read_sql_table('order_items', engine)

In [7]:
customers.columns

Index(['customer_id', 'customer_fname', 'customer_lname', 'customer_email',
       'customer_password', 'customer_street', 'customer_city',
       'customer_state', 'customer_zipcode'],
      dtype='object')

In [8]:
customers['customer_id'].count()

np.int64(12435)

In [9]:
print('Total de Clientes:' , customers['customer_id'].nunique())

Total de Clientes: 12435

In [10]:
clientes_por_ciudad = customers['customer_city'].value_counts()

print(f"Clientes por ciudad: {clientes_por_ciudad}")

Clientes por ciudad: customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [12]:
orders.head(20)

    order_id order_date  order_customer_id     order_status
0          1 2013-07-25              11599           CLOSED
1          2 2013-07-25                256  PENDING_PAYMENT
2          3 2013-07-25              12111         COMPLETE
3          4 2013-07-25               8827           CLOSED
4          5 2013-07-25              11318         COMPLETE
5          6 2013-07-25               7130         COMPLETE
6          7 2013-07-25               4530         COMPLETE
7          8 2013-07-25               2911       PROCESSING
8          9 2013-07-25               5657  PENDING_PAYMENT
9         10 2013-07-25               5648  PENDING_PAYMENT
10        11 2013-07-25                918   PAYMENT_REVIEW
11        12 2013-07-25               1837           CLOSED
12        13 2013-07-25               9149  PENDING_PAYMENT
13        14 2013-07-25               9842       PROCESSING
14        15 2013-07-25               2568         COMPLETE
15        16 2013-07-25               7276  PENDING_PAYMENT
16        17 2013-07-25               2667         COMPLETE
17        18 2013-07-25               1205           CLOSED
18        19 2013-07-25               9488  PENDING_PAYMENT
19        20 2013-07-25               9198       PROCESSING

In [14]:
order_por_status = orders['order_status'].value_counts()
order_por_status

order_status
COMPLETE           22899
PENDING_PAYMENT    15030
PROCESSING          8275
PENDING             7610
CLOSED              7556
ON_HOLD             3798
SUSPECTED_FRAUD     1558
CANCELED            1428
PAYMENT_REVIEW       729
Name: count, dtype: int64

In [15]:
# Cuentas categorias existen dentro de cada departamento
categories_por_departamento = categories.groupby('category_department_id')['category_id'].count()
categories_por_departamento

category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [16]:
categories['category_department_id'].value_counts()

category_department_id
6    12
8    10
2     8
3     8
5     7
7     7
4     6
Name: count, dtype: int64

In [18]:
# La distribucion de categorias por departamento

categoria_distribucion = categories.merge(departments,left_on='category_department_id',right_on='department_id')
categoria_distribucion = categoria_distribucion['department_name'].value_counts()
categoria_distribucion

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [ ]:
# Left, Right, Inner

df.merge(df2, on=[''], how='left')

In [20]:
# Caules son los productos mas caras y mas baratos (products)
# Caul es el valor total de las ordenes por estado
# Cual es el producto mas vendido
# Cuales son los productos mas comprados por cada cleinte

products.head(20)

,product_id,product_category_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,,199.99,http://images.acmesports.sports/Riddell+Youth+...
5,6,2,Jordan Men's VI Retro TD Football Cleat,,134.99,http://images.acmesports.sports/Jordan+Men%27s...
6,7,2,Schutt Youth Recruit Hybrid Custom Football H,,99.99,http://images.acmesports.sports/Schutt+Youth+R...
7,8,2,Nike Men's Vapor Carbon Elite TD Football Cle,,129.99,http://images.acmesports.sports/Nike+Men%27s+V...
8,9,2,Nike Adult Vapor Jet 3.0 Receiver Gloves,,50.00,http://images.acmesports.sports/Nike+Adult+Vap...
9,10,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+M...
10,11,2,Fitness Gear 300 lb Olympic Weight Set,,209.99,http://images.acmesports.sports/Fitness+Gear+3...
11,12,2,Under Armour Men's Highlight MC Alter Ego Fla,,139.99,http://images.acmesports.sports/Under+Armour+M...
12,13,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+M...
13,14,2,Quik Shade Summit SX170 10 FT. x 10 FT. Canop,,199.99,http://images.acmesports.sports/Quik+Shade+Sum...
14,15,2,Under Armour Kids' Highlight RM Alter Ego Sup,,59.99,http://images.acmesports.sports/Under+Armour+K...
15,16,2,Riddell Youth 360 Custom Football Helmet,,299.99,http://images.acmesports.sports/Riddell+Youth+...
16,17,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+M...
17,18,2,Reebok Men's Full Zip Training Jacket,,29.97,http://images.acmesports.sports/Reebok+Men%27s...
18,19,2,Nike Men's Fingertrap Max Training Shoe,,124.99,http://images.acmesports.sports/Nike+Men%27s+F...
19,20,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+M...

In [35]:
precios = products['product_price']
precio_minimo = min('precios')
precio_maximo = max('precios')

print(f'Precio mínimo:{'precio_minimo'}')
print(f'Precio máximo:{'precio_maximo'}')

Precio mínimo:precio_minimo
Precio máximo:precio_maximo

In [34]:
precio = np.array(['products'.'product_price'])
precio_minimo = np.min('precio')
precio_maximo = np.max('precio')

print(f'Precio mínimo:{'precio_minimo'}')
print(f'Precio máximo:{'precio_maximo'}')

SyntaxError: invalid syntax (670263243.py, line 1)

In [38]:
# Caules son los productos mas caras y mas baratos (products)
producto_caro = products.loc[products['product_price'].idxmax()]
producto_caro

product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object

In [39]:
producto_barato = products.loc[products['product_price'].idxmin()]
producto_barato

product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [40]:
# Caul es el valor total de las ordenes por estado
total_ordenes = orders['order_status'].value_counts()
totla_ordenes_por_estado_cliente = orders.merge(customers, left_on='order_customer_id', right_on='customer_id')
totla_ordenes_por_estado_cliente = totla_ordenes_por_estado_cliente.groupby('customer_state')['order_id'].count()
totla_ordenes_por_estado_cliente

customer_state
AL       13
AR       65
AZ     1156
CA    11051
CO      721
CT      403
DC      229
DE      109
FL     2089
GA      946
HI      478
IA       24
ID       67
IL     2884
IN      247
KS      159
KY      190
LA      369
MA      606
MD      905
MI     1428
MN      256
MO      516
MT       32
NC      803
ND       72
NJ     1259
NM      391
NV      540
NY     4331
OH     1575
OK       84
OR      646
PA     1458
PR    26510
RI       84
SC      238
TN      607
TX     3442
UT      357
VA      738
WA      380
WI      334
WV       91
Name: order_id, dtype: int64

In [41]:
total = orders.merge(order_items, left_on='order_id', right_on='order_item_order_id')
total.groupby('order_status')['order_item_subtotal'].sum()

order_status
CANCELED             696030.99
CLOSED              3736048.79
COMPLETE           11276933.69
ON_HOLD             1864731.24
PAYMENT_REVIEW       357841.45
PENDING             3851881.28
PENDING_PAYMENT     7581671.05
PROCESSING          4190636.76
SUSPECTED_FRAUD      766844.68
Name: order_item_subtotal, dtype: float64

In [43]:
# Cual es el producto mas vendido
producto_mas_vendido = order_items.groupby('order_item_product_id')['order_item_quantity'].sum().idxmax()
producto_mas_vendido

np.int64(365)

In [45]:
producto_nombre = products.loc[products['product_id']== producto_mas_vendido, 'product_name'].values[0]
producto_nombre

'Perfect Fitness Perfect Rip Deck'

In [46]:
# Cuales son los productos mas comprados por cada cleinte
merge_orders = order_items.merge(orders, left_on='order_item_order_id', right_on='order_id')
merge_orders.columns

Index(['order_item_id', 'order_item_order_id', 'order_item_product_id',
       'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price', 'order_id', 'order_date',
       'order_customer_id', 'order_status'],
      dtype='object')

In [49]:
productos_por_cliente = merge_orders.groupby(['order_customer_id', 'order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_por_cliente = productos_por_cliente.merge(customers, left_on='order_customer_id', right_on='customer_id')\
                                             .merge(products, left_on='order_item_product_id', right_on='product_id')
productos_comprados_por_cliente = productos_por_cliente.loc[productos_por_cliente.groupby('order_customer_id')['order_item_quantity']]